@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;


}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Italic-webfont.eot');
    src: url('fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Italic-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg') format('svg');
    font-weight: 700;
    font-style: normal;

}




*{
    font-family:'roboto';
}

/* Texte du top-header*/
a {
    color: #45065c; 
    font-size: 1.4rem;
}



.navbar > li > a {
    font-size: 0.8rem;
}

.nav-link {
    color: white; font-size: 0.8em;
}


.navbar-default {
    background-color: #45065c;
    border-color: #610202;
    font-family: 1em;
}

/* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
    font-size: 1em;
}

/* Couleur utilisée pour un menu dépliant lorsqu'il est ouvert */
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
    font-family: 1em;
}

h1{
    font-weight: 900; 
    margin: 20px 0 10px;
    font-family:'roboto';   
}


body{
    /*display: inline-block;*/
    font-family:'roboto';
    margin-top: 16px;
}


h2{
    font-weight: 600;
}

h3{
    font-weight: 500;
}



p {
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    background-color: white; 
    color: #1a1a1a; 
}

strong {
    font-weight: 700;
    color: #1a1a1a; 
    font-size: 14px;

    background-color: white; 
}

.fig{
    font-style: italic;
    color: #45065c; 
    font-size: 16px;

    margin-top: 16px;
}



/* Navbar parameters */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #fff;
    font-size:  0.8em;

    background-color: #45065c;
    border-color: #45065c;
    z-index: 2;
}








